@using DynamicForms.Areas.SGI.Model
@{

    //Metas Ano Anterior
    Graficos graficos = Model as Graficos;
    T_Indicadores indicador = ViewBag.Indicador as T_Indicadores;
    bool atingiuMeta = false;
    decimal? valAlvoAnoAnt = 0;
    if (graficos.AnoAnterior.Count(x => x.IND_ID == indicador.IND_ID && x.Mes.Substring(0, 4) == ViewBag.anoAnterior) > 0)
    {
        //valAlvoAnoAnt = graficos.VW_Medicoes.Where(x => x.IND_ID == indicador.IND_ID && x.Mes.Substring(0, 4) ==ViewBag.anoAnterior).Average(y => y.MED_PONDERACAO)/100;
        valAlvoAnoAnt = Convert.ToDecimal(graficos.AnoAnterior.FirstOrDefault(x => x.IND_ID == indicador.IND_ID && x.Mes.Substring(0, 4) == ViewBag.anoAnterior).META) / 100;
    }
    decimal vlrMetaAnoAnt = valAlvoAnoAnt ?? 0;
    decimal vlrMetaMesAnoAnt = Math.Round(vlrMetaAnoAnt / 12, 2);
    //Metas Ano Atual
    string valAlvoAnoAtu = graficos.Medicoes.FirstOrDefault(x => x.IND_ID == indicador.IND_ID && x.Mes.Substring(0, 4) == ViewBag.anoAtual).META.ToString();
    decimal vlrMetaAnoAtu = valAlvoAnoAtu != "" ? Decimal.Parse(valAlvoAnoAtu) / 100 : 0;
    decimal vlrMetaMesAnoAtu = vlrMetaAnoAtu;

    <tr class="tblDefault">
        <td rowspan="4">@indicador.IND_DESCRICAO - @indicador.T_Negocio.NEG_DESCRICAO</td>
        <td>Meta mês</td>
        <td>@String.Format(ViewBag.formatoValor, vlrMetaAnoAnt)</td>
        <td>@String.Format(ViewBag.formatoValor, vlrMetaAnoAtu)</td>
        @for (int i = 0; i < 12; i++)
        {
            <td>@String.Format(ViewBag.formatoValor, vlrMetaMesAnoAtu)</td>
        }
    </tr>
    <tr>
        <td>Real mês</td>
        @** Real Mês ano anterior **@
        @{decimal? realAnoAnt = 0;
            if (graficos.AnoAnterior.Count(x => x.IND_ID == indicador.IND_ID && x.Mes.Substring(0, 4) == ViewBag.anoAnterior) > 0)
            {
                realAnoAnt = graficos.AnoAnterior.Where(x => x.IND_ID == indicador.IND_ID && x.Mes.Substring(0, 4) == ViewBag.anoAnterior).Average(y => Convert.ToDecimal(y.Valor)) / 100;
            }
        }
        @if (vlrMetaAnoAnt > 0)
        {
            switch (indicador.IND_TIPOCOMPARADOR.ToString())
            {
                case "0"://Igual
                    if (realAnoAnt == vlrMetaAnoAnt)
                        {atingiuMeta = true;}
                    break;


                case "1"://Maior ou igual
                    if (realAnoAnt >= vlrMetaAnoAnt)
                        {atingiuMeta = true;}
                    break;

                case "2"://Menor ou igual
                    if (realAnoAnt <= vlrMetaAnoAnt)
                        {atingiuMeta = true;}
                    break;
            }

            if (atingiuMeta)
            {
                <td class="tblAtingiuMeta">@String.Format(ViewBag.formatoValor, realAnoAnt)</td>
            }
            else
            {
                <td class="tblNaoAtingiuMeta"><a href="@Url.Action("PlanoAcao", "PlanoAcao", new { area = "sgi", idIndicador = indicador.IND_ID, periodo = ViewBag.anoAnterior })"  data-color-class="accent" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Accent colored tooltip" title="Meta não foi atingida, clique para ver as ações.">@String.Format(ViewBag.formatoValor, realAnoAnt) <i class="fa fa-info-circle"></i></a></td>
            }
        }
        else
        {
            <td class="tblAtingiuMeta">@String.Format(ViewBag.formatoValor, realAnoAnt)</td>
        }

        @** Real Mês ano atual **@
        @{var realAnoAtual = decimal.Parse((graficos.Medicoes.Where(x => x.IND_ID == indicador.IND_ID && x.Mes.Substring(0, 4) == ViewBag.anoAtual).Average(y => y.MED_PONDERACAO) / 100).ToString());}

        @{
            switch (indicador.IND_TIPOCOMPARADOR.ToString())
            {
                case "0"://Igual
                    if (realAnoAtual == vlrMetaAnoAtu)
                        {atingiuMeta = true;}
                    break;


                case "1"://Maior ou igual
                    if (realAnoAtual >= vlrMetaAnoAtu)
                        {atingiuMeta = true;}
                    break;

                case "2"://Menor ou igual
                    if (realAnoAtual <= vlrMetaAnoAtu)
                        {atingiuMeta = true;}
                    break;
            }
        }

        @if (atingiuMeta)
        {
            <td class="tblAtingiuMeta">@String.Format(ViewBag.formatoValor, realAnoAtual)</td>
        }
        else
        {
            <td class="tblNaoAtingiuMeta"><a href="@Url.Action("PlanoAcao", "PlanoAcao", new { area = "sgi", idIndicador = indicador.IND_ID, periodo = ViewBag.anoAtual })"  data-color-class="accent" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Accent colored tooltip" title="Meta não foi atingida, clique para ver as ações.">@String.Format(ViewBag.formatoValor, realAnoAtual) <i class="fa fa-info-circle"></i></a></td>
        }

        @** Preenche meses **@
        @for (int i = 0; i < 12; i++)
        {
            decimal? vlrRealMes = 0;
            if (graficos.Medicoes.Count(x => x.IND_ID == indicador.IND_ID && x.Mes == ViewBag.anoAtual + (i + 1).ToString().PadLeft(2, '0')) > 0)
            {
                vlrRealMes = decimal.Parse((graficos.Medicoes.First(x => x.IND_ID == indicador.IND_ID && x.Mes == ViewBag.anoAtual + (i + 1).ToString().PadLeft(2, '0')).MED_PONDERACAO / 100).ToString());
            }

            switch (indicador.IND_TIPOCOMPARADOR.ToString())
            {
                case "0"://Igual
                    if (vlrRealMes == vlrMetaMesAnoAtu)
                        {atingiuMeta = true;}
                    break;


                case "1"://Maior ou igual
                    if (vlrRealMes >= vlrMetaMesAnoAtu)
                        {atingiuMeta = true;}
                    break;

                case "2"://Menor ou igual
                    if (vlrRealMes <= vlrMetaMesAnoAtu)
                        {atingiuMeta = true;}
                    break;
            }

            if (atingiuMeta)
            {
                <td class="tblAtingiuMeta">@String.Format(ViewBag.formatoValor, vlrRealMes)</td>
            }
            else
            {
                <td class="tblNaoAtingiuMeta"><a href="@Url.Action("PlanoAcao", "PlanoAcao", new { area = "sgi", idIndicador = indicador.IND_ID, periodo = ViewBag.anoAtual + (i + 1).ToString().PadLeft(2, '0') })"  data-color-class="accent" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Accent colored tooltip" title="Meta não foi atingida, clique para ver as ações.">@String.Format(ViewBag.formatoValor, vlrRealMes) <i class="fa fa-info-circle"></i></a></td>
            }
        }
    </tr>
    <tr class="tblDefault">
        <td>Meta Ac.</td>
        @** Meta Acumulado ano anterior **@
        <td>@String.Format(ViewBag.formatoValor, vlrMetaAnoAnt)</td>
        <td>@String.Format(ViewBag.formatoValor, vlrMetaAnoAtu)</td>
        @{decimal metAcu = 0;}
        @for (int i = 0; i < 12; i++)
        {
            metAcu = vlrMetaMesAnoAtu;
            <td>@String.Format(ViewBag.formatoValor, metAcu)</td>
        }
    </tr>
    <tr>
        <td>Real Ac.</td>
        @** Real Acumulado ano anterior **@
        @{
            decimal? realAcAnoAnt = 0;
            if (graficos.AnoAnterior.Count(x => x.IND_ID == indicador.IND_ID && x.Mes.Substring(0, 4) == ViewBag.anoAnterior) > 0)
            {
                realAcAnoAnt = Convert.ToDecimal(graficos.AnoAnterior.Where(x => x.IND_ID == indicador.IND_ID && x.Mes.Substring(0, 4) == ViewBag.anoAnterior).First().Valor) / 100;
            }
        }
        @if (vlrMetaAnoAnt > 0)
        {

            switch (indicador.IND_TIPOCOMPARADOR.ToString())
            {
                case "0"://Igual
                    if (realAcAnoAnt == vlrMetaAnoAnt)
                        {atingiuMeta = true;}
                    break;


                case "1"://Maior ou igual
                    if (realAcAnoAnt >= vlrMetaAnoAnt)
                        {atingiuMeta = true;}
                    break;

                case "2"://Menor ou igual
                    if (realAcAnoAnt <= vlrMetaAnoAnt)
                        {atingiuMeta = true;}
                    break;
            }

            if (atingiuMeta)
            {
                <td class="tblAtingiuMeta">@String.Format(ViewBag.formatoValor, realAcAnoAnt)</td>
            }
            else
            {
                <td class="tblNaoAtingiuMeta"><a href="@Url.Action("PlanoAcao", "PlanoAcao", new { area = "sgi", idIndicador = indicador.IND_ID, periodo = ViewBag.anoAnterior })"  data-color-class="accent" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Accent colored tooltip" title="Meta não foi atingida, clique para ver as ações.">@String.Format(ViewBag.formatoValor, realAcAnoAnt) <i class="fa fa-info-circle"></i></a></td>
            }
        }
        else
        {
            <td class="tblAtingiuMeta">@String.Format(ViewBag.formatoValor, realAcAnoAnt)</td>
        }

        @** Real Acumulado ano atual **@
        @{var realAcAnoAtual = decimal.Parse((graficos.Medicoes.Where(x => x.IND_ID == indicador.IND_ID && x.Mes.Substring(0, 4) == ViewBag.anoAtual).First().MED_PONDERACAO / 100).ToString());}
       
        @{ 
            switch (indicador.IND_TIPOCOMPARADOR.ToString())
            {
                case "0"://Igual
                    if (realAcAnoAtual == vlrMetaAnoAnt)
                        {atingiuMeta = true;}
                    break;


                case "1"://Maior ou igual
                    if (realAcAnoAtual >= vlrMetaAnoAnt)
                        {atingiuMeta = true;}
                    break;

                case "2"://Menor ou igual
                    if (realAcAnoAtual <= vlrMetaAnoAnt)
                        {atingiuMeta = true;}
                    break;
            }
        }
        
        @if (atingiuMeta)
        {
            <td class="tblAtingiuMeta">@String.Format(ViewBag.formatoValor, realAcAnoAtual)</td>
        }
        else
        {
            <td class="tblNaoAtingiuMeta"><a href="@Url.Action("PlanoAcao", "PlanoAcao", new { area = "sgi", idIndicador = indicador.IND_ID, periodo = ViewBag.anoAtual })"  data-color-class="accent" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Accent colored tooltip" title="Meta não foi atingida, clique para ver as ações.">@String.Format(ViewBag.formatoValor, realAcAnoAtual) <i class="fa fa-info-circle"></i></a></td>
        }

        @{decimal realAcumulado = 0;}
        @for (int i = 0; i < 12; i++)
        {
            if (graficos.Medicoes.Count(x => x.IND_ID == indicador.IND_ID && x.Mes.Substring(0, 4) == ViewBag.anoAtual + (i + 1).ToString().PadLeft(2, '0')) > 0)
            {
                realAcumulado = Convert.ToDecimal(graficos.Medicoes.First(x => x.IND_ID == indicador.IND_ID && x.Mes.Substring(0, 4) == ViewBag.anoAtual + (i + 1).ToString().PadLeft(2, '0')).MED_PONDERACAO.ToString()) / 100;
            }

            switch (indicador.IND_TIPOCOMPARADOR.ToString())
            {
                case "0"://Igual
                    if (realAcumulado == (vlrMetaMesAnoAtu * (i + 1)))
                        {atingiuMeta = true;}
                    break;


                case "1"://Maior ou igual
                    if (realAcumulado >= (vlrMetaMesAnoAtu * (i + 1)))
                        {atingiuMeta = true;}
                    break;

                case "2"://Menor ou igual
                    if (realAcumulado <= (vlrMetaMesAnoAtu * (i + 1)))
                        {atingiuMeta = true;}
                    break;
            }

            if (atingiuMeta)
            {
                <td class="tblAtingiuMeta">@String.Format(ViewBag.formatoValor, realAcumulado)</td>
            }
            else
            {
                <td class="tblNaoAtingiuMeta"><a href="@Url.Action("PlanoAcao","PlanoAcao", new { area = "sgi", idIndicador = indicador.IND_ID, periodo =ViewBag.anoAtual + (i + 1).ToString().PadLeft(2, '0') })"  data-color-class="accent" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Accent colored tooltip" title="Meta não foi atingida, clique para ver as ações.">@String.Format(ViewBag.formatoValor, realAcumulado) <i class="fa fa-info-circle"></i></a></td>
            }
        }
    </tr>
    <tr>
        <td colspan="12"></td>
    </tr>

}
