@using P.Pager.Mvc.Core
@using P.Pager
@model DynamicForms.Areas.SGI.Model.ViewsNome
@{
    ViewData["Title"] = Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">@ViewData["Title"]</h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home", new { area = "sgi" })"><i class="fa fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <strong>@Model.Nome</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Lista de relatórios detalhado</h2>
            <div class="top15 right15 pull-right">
                <a href="@Url.Action("ExportarExcel", new { id = Html.Value("id"), idIndicador = Html.Value("idIndicador"), data1 = Html.Value("data1"), data2 = Html.Value("data2")})" class="btn btn-success form-control input-sm"><span class="fa fa-plus"></span> Exportar</a>
            </div>
        </header>
        <div class="content-body">
            <div class="btn-toolbar">
                @using (Html.BeginForm("DetalhadoView", "Home", FormMethod.Get, new { area = "sgi" }))
                {
                    @Html.Hidden("id", Html.Value("id"))
                    @Html.Hidden("idIndicador", Html.Value("idIndicador"))
                    <div class="btn-group dropdown-btn-group pull-left">
                        <label>
                            Data De:
                            <input type="text" id="data1" name="data1" data-mask="99/99/9999" value="@ViewBag.data1" class="form-control input-sm" placeholder="Digite a data inicial">
                        </label>
                    </div>
                    <div class="btn-group dropdown-btn-group pull-left">
                        <label>
                            Data Até:
                            <input type="text" data-mask="99/99/9999" id="data2" name="data2" value="@ViewBag.data2" class="form-control input-sm data" placeholder="Digite a data final">
                        </label>
                    </div>
                    <div class="btn-group dropdown-btn-group pull-left">
                        <label>Clique para processar<button onclick="JavascriptFunction();" type="submit" class="btn btn-default form-control input-sm">Processar</button></label>
                    </div>
                }
            </div>

            <div class="table-responsive">
                <table id="tblDados" class="table table-striped table-bordered dt-responsive display">
                    <thead>
                        <tr>
                            @foreach (var item in Model.Campos)
                            {
                                <th>@item.Nome</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int ln = 0; ln < Model.Valores.GetLength(0); ln++)
                        {
                            <tr>
                                @for (int col = 0; col < Model.Campos.Count; col++)
                                {
                                    if (Model.Campos[col].Nome == "DATA" && !string.IsNullOrEmpty(Model.Valores[ln, col]))
                                    {
                                        <td>@DateTime.ParseExact(Model.Valores[ln, col], "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture).ToString("dd/MM/yyyy")</td>
                                    }
                                    else
                                    {
                                        <td>@Model.Valores[ln, col]</td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 30%; left: 45%; color: White;">
        Carregando, aguarde ...
        <img src="~/images/loading.gif" />
    </p>
</div>

@section Styles {
    <link href="~/css/PainelGestor/Content/select2.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/css/PainelGestor/Content/all.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/Functions/Script/PainelGestor/select2.js" type="text/javascript"></script>
    <script src="~/Functions/Script/PainelGestor/autosize.js" type="text/javascript"></script>
    <script src="~/Functions/Script/PainelGestor/icheck.js" type="text/javascript"></script>
    <script src="~/Functions/Script/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
    <script src="~/Functions/Script/PainelGestor/jquerydataTables.js" type="text/javascript"></script>
    <script src="~/Functions/Script/PainelGestor/dataTablestableTools.js" type="text/javascript"></script>
    <script src="~/Functions/Script/PainelGestor/dataTablesresponsive.js" type="text/javascript"></script>
    <script src="~/Functions/Script/PainelGestor/dataTablesbootstrap.js" type="text/javascript"></script>

    <script type="text/javascript">
        $("#mhome").removeClass("open");
        $("#mhome").addClass("open");

        $(document).ready(function () {
            $('#tblDados').DataTable();
        });

        function JavascriptFunction() {
            var url = '@Url.Action("PostMethod", "Historico")';
            $("#divLoading").show();
            $.post(url, null,
                    function (data) {
                        $("#PID")[0].innerHTML = data;
                        $("#divLoading").hide();
                    });
        }
    </script>
}
