@using P.Pager.Mvc.Core
@using P.Pager
@model IEnumerable<DynamicForms.Areas.SGI.Model.ViewsNome>
@{
    ViewData["Title"] = "Detalhado de indicadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class='col-xs-12'>
    <div class="page-title">

        <div class="pull-left">
            <h1 class="title">@ViewData["Title"]</h1>
        </div>

        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home", new { area = "sgi" })"><i class="fa fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <strong>Detalhado</strong>
                </li>
            </ol>
        </div>

    </div>
</div>

<div class="col-xs-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Lista de relatórios detalhado</h2>
            <div class="actions panel_actions pull-right">
            </div>
        </header>
        <div class="content-body">
            <div class="btn-toolbar">
                @using (Html.BeginForm("Detalhado", "Home", FormMethod.Get, new { area = "sgi" }))
                {
                    <div class="btn-group focus-btn-group">
                        <a href="@Url.Action("Index", "Home", new { area = "sgi" })" title="Voltar" class="btn btn-default">Voltar</a>
                    </div>
                    @Html.Hidden("idIndicador", Html.Value("idIndicador"))
                    <div class="btn-group dropdown-btn-group pull-right">
                        <label>Pesquisar:<input type="search" id="searchString" name="searchString" value="@Html.Value("searchString")" class="form-control input-sm" placeholder="Digite a pesquisa" aria-controls="example-4"></label>
                        <label>
                            <select id="nPageSize" onchange="this.form.submit();" class="form-control input-sm">
                                @foreach (int number in ViewBag.ItensPageSize)
                                {
                                    <option value="@number">@number</option>
                                }
                            </select>
                        </label>
                    </div>
                }
            </div>

            <div class="table-responsive">
                <table class="table table-striped dt-responsive display">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><a href="@Url.Action("DetalhadoView", "Home", new { area = "sgi", id = item.Id, idIndicador = Html.Value("idIndicador") })" title="Clique para visualizar o relatório">@item.Nome</a></td>
                                <td>
                                    <a href="@Url.Action("DetalhadoView", "Home", new { area = "sgi", id = item.Id, idIndicador = Html.Value("idIndicador") })" title="Clique para visualizar o relatório" class="btn btn-info"><span class="fa fa-list"></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="dataTables_paginate paging_simple_numbers" id="datatable1_paginate">
                @Html.Pager((IPager)Model, page => Url.Action("Index", "Home",
                    new { area = "sgi", page = page, nPageSize = ViewBag.CurrentItemsPerPage, searchString = ViewBag.CurrentSearch, idIndicador = Html.Value("idIndicador") }))
            </div>
        </div>
    </section>
</div>


@section Styles {

    <link href="~/css/PainelGestor/Content/all.css" rel="stylesheet" type="text/css" media="screen" />

}


@section Scripts {
    <script src="~/Functions/Script/PainelGestor/autosize.js" type="text/javascript"></script>
    <script src="~/Functions/Script/PainelGestor/icheck.js" type="text/javascript"></script>

    <script type="text/javascript">
        $("#mhome").removeClass("open");
        $("#mhome").addClass("open");
    </script>
}